:body {
    background-color: #008080; /* Azul verdoso clásico de Win95 */
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#contenedor-principal {
    background-color: #C0C0C0;
    border: 2px outset #ffffff;
    width: 450px;
    box-shadow: 4px 4px 0px #000;
}

/* Barra de Título */
.barra-titulo {
    background: linear-gradient(to right, #000080, #1084d0);
    color: white;
    padding: 3px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.btn-ventana {
    background-color: #C0C0C0;
    border: 1px outset #fff;
    font-size: 10px;
    width: 16px;
    height: 14px;
    cursor: pointer;
}

.contenido {
    padding: 20px;
    text-align: center;
}

/* Pantalla CRT (Monitor) */
.monitor-crt {
    background-color: #000;
    border: 3px inset #808080;
    color: #00FF00;
    padding: 20px;
    margin-top: 10px;
}

#problema {
    font-size: 30px;
    margin: 15px 0;
    font-weight: bold;
    text-shadow: 0 0 5px #00FF00;
}

/* Inputs y Botones */
input {
    background-color: #fff;
    border: 2px inset #808080;
    padding: 5px;
    font-family: "Courier New", monospace;
    font-size: 18px;
    width: 120px;
    text-align: center;
}

.btn-accion {
    background-color: #C0C0C0;
    border: 2px outset #fff;
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn-accion:active {
    border: 2px inset #fff;
}

/* Estadísticas */
.stats-bar {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color: #808080;
    color: white;
    padding: 4px;
    border: 2px inset #fff;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.version {
    font-size: 10px;
    margin-top: 20px;
}

.retro-marquee {
    margin-top: 10px;
    background: #000;
    color: #00FF00;
    font-size: 12px;
    border: 1px solid #808080;
}